In [10]:
import pandas as pd
import seaborn as sns

##Q4
Please work on your 4th question below. Please feel free to add new code cells.

In [11]:
#Your code goes here.
world_cup = pd.read_csv('/content/drive/MyDrive/DATA/WorldCupMatches.csv')
world_cup.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#your code goes here. Just leaving an example output of an intermediate step for you to check the last two columns
#A hint to start with: team_pairs = world_cup.groupby(['Home Team Initials', 'Away Team Initials']).count().reset_index()
team_pairs.head()

,Home Team Initials,Away Team Initials,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,...,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,weight,HomeGoalTotal
0,ALG,AUT,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1,ALG,CHI,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,3
2,ALG,ESP,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
3,ALG,NIR,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,ALG,RUS,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Make sure that you only write four columns ('Home Team Initials', 'Away Team Initials', 'weight', 'HomeGoalTotal') from the data frame, team_pairs, to a csv file

In [18]:
df=world_cup.groupby(by=(['Home Team Initials','Away Team Initials']))['Home Team Goals'].sum().reset_index()

df2=world_cup.groupby(by=(['Home Team Initials','Away Team Initials'])).count().reset_index()

team_pairs=world_cup.groupby(by=(['Home Team Initials','Away Team Initials'])).count().reset_index()

team_pairs['weight']=team_pairs['Stadium']

team_pairs['HomeGoalTotal']=df['Home Team Goals']

team_pairs=team_pairs[['Home Team Initials','Away Team Initials','weight','HomeGoalTotal']]

team_pairs.head(10)

  Home Team Initials Away Team Initials  weight  HomeGoalTotal
0                ALG                AUT       1              0
1                ALG                CHI       1              3
2                ALG                ESP       1              0
3                ALG                NIR       1              1
4                ALG                RUS       1              1
5                ALG                SVN       1              0
6                ANG                POR       1              0
7                ARG                BEL       4              4
8                ARG                BIH       1              2
9                ARG                BRA       3              2

In [16]:
team_pairs.to_csv('/content/drive/MyDrive/CSC302/team_pairs.csv')